generators:
  _gauss_default: &gauss_default
    generator: uot.problems.generators.GaussianMixtureGenerator
    dim: 2
    num_datasets: 30
    borders: [-1, 1]
    cost_fn: uot.utils.costs.cost_euclid_squared
    use_jax: false
    measure_mode: discrete
    seed: 55
    cell_discretization: vertex-centered

{% set points_set = [32, 64, 128, 160] %}
{% set components_set = [2, 4, 6] %}
{% for components in components_set %}
{% for points in points_set %}
  2D-gaussian-{{components}}c-{{points}}p:
    <<: *gauss_default
    n_points: {{points}}
    num_components: {{components}}
{% endfor %}
{% endfor %}
