generators:
  _cauchy_defaults: &cauchy_defaults
    generator: uot.problems.generators.IndependentCauchyGenerator
    dim:       1
    num_datasets: 31
    borders:   [-1, 1]
    measure_mode: discrete
    cost_fn:   uot.utils.costs.cost_euclid_squared
    seed:      55

{% set points_set = [4096, 8192, 16384] %}
{% for p in points_set %}
  1D-cauchy-{{p}}p:
    <<: *cauchy_defaults
    n_points: {{p}}
{% endfor %}


