param-grids:
  sinkhorn:
    - reg: !!float 1e0
      maxiter: 100000
      tol: !!float 1e-6
    - reg: !!float 1e-1
      maxiter: 100000
      tol: !!float 1e-6
    - reg: !!float 1e-2
      maxiter: 100000
      tol: !!float 1e-6
    - reg: !!float 1e-3
      maxiter: 100000
      tol: !!float 1e-6
  # --- ADAM ---
  adam:
    - reg: !!float 1e-2
      maxiter: 500000
      learning_rate: !!float 5e-3
      tol: !!float 1e-6
      schedule: cosine
      schedule_kwargs:
        total_steps: 500000
        final_lr: !!float 8e-5
    - reg: !!float 1e-3
      maxiter: 500000
      learning_rate: !!float 5e-3
      tol: !!float 1e-6
      schedule: cosine
      schedule_kwargs:
        total_steps: 500000
        final_lr: !!float 8e-5
  # --- SGD ---
  # sgd:
  #   - reg: !!float 1e-1
  #     maxiter: 500000
  #     tol: !!float 1e-6
  #     learning_rate: !!float 3e-3
  #     momentum: 0.9
    # - reg: !!float 1e-2
    #   maxiter: 500000
    #   tol: !!float 1e-6
    #   learning_rate: !!float 3e-3
    #   momentum: 0.9
    # - reg: !!float 1e-3
    #   maxiter: 500000
    #   tol: !!float 1e-6
    #   learning_rate: !!float 3e-3
    #   momentum: 0.9
  # --- BACK AND FORTH METHOD PARAM GRID ---
  bfm-cic:
    - maxiter: 1000
      tol: !!float 1e-4
      error_metric: "h1_psi_relative"
      stepsize: 1
      stepsize_lower_bound: 0.01
      pushforward_fn: "cic"
  bfm-adaptive:
    - maxiter: 500
      tol: !!float 1e-4
      error_metric: "h1_psi_relative"
      stepsize: 1
      stepsize_lower_bound: 0.01
      pushforward_fn: "adaptive"
  simplex:
    - numItermax: 2_000_000

solvers:
  # sinkhor-log:
  #   # solver: uot.solvers.sinkhorn.SinkhornTwoMarginalSolver
  #   solver: uot.solvers.sinkhorn.SinkhornTwoMarginalLogJaxSolver
  #   param-grid: sinkhorn
  #   jit: true
  # simplex:
  #   solver: uot.solvers.linear_programming.LinearProgrammingTwoMarginalSolver
  #   jit: false
  #   param-grid: simplex
  # adam:
  #   solver: uot.solvers.gradient_ascent.AdamGradientAscentSolver
  #   param-grid: adam
  #   jit: true
  # sgd:
  #   solver: uot.solvers.gradient_ascent.GradientAscentMultiMarginalSGD
  #   param-grid: sgd
  #   jit: true
  # back-and-forth-cic:
  #   solver: uot.solvers.back_and_forth.BackNForthSqEuclideanSolver
  #   param-grid: bfm-cic
  #   jit: true
  #   use-cost-matrix: False
   # Takes too long to run on larger grids
  back-and-forth-adaptive:
    solver: uot.solvers.back_and_forth.BackNForthSqEuclideanSolver
    param-grid: bfm-adaptive
    jit: true
    use-cost-matrix: False

bin-number:
  - 52
  - 32
  - 16
# soft-extension:
  #- no
  # - yes
# displacement-interpolation: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]
displacement-interpolation:
  # - 0.0
  # - 0.2
  - 0.4
  - 0.6
  - 0.8
  - 1.0
batch-size: 100000
pair-number: 50
# images-dir: ./adobe5k/rawz
# images-dir: ./test_images
images-dir: ./adobe5k/smaller_set
rng-seed: 88

drop-columns:
  - transport_plan
  - monge_map
  - u_final
  - v_final
  - potentials

experiment:
  name: Colour-Transfer-Adobe5k Runtime and Metrics Experiment
  output-dir: ./outputs/color_transfer