param-grids:
  sinkhorn_params:
    - reg: 0.01
      maxiter: 1000000
      tol: 0.000001

  gradient_ascent_params:
    - reg: 0.01
      maxiter: 10000000
      tol: 0.000001

  lbfgs_params:
    - reg: 0.01
      maxiter: 10000000
      tol: 0.000001


solvers:
  # sinkhorn:
  #   solver: uot.solvers.sinkhorn.SinkhornTwoMarginalSolver
  #   jit: true
  #   param-grid: sinkhorn_params
  # gradient-ascent:
  #   solver: uot.solvers.gradient_ascent.GradientAscentTwoMarginalSolver
  #   jit: true
  #   param-grid: gradient_ascent_params
  # lbfgs:
  #   solver: uot.solvers.lbfgs.LBFGSTwoMarginalSolver
  #   jit: true
  #   param-grid: lbfgs_params
  lp:
    solver: uot.solvers.linear_programming.LinearProgrammingTwoMarginalSolver
    jit: true

experiment: 
  name: Time and GPU usage test
  function: uot.experiments.measurement.measure_with_gpu_tracker
