param-grids:
  bfm:
    - maxiter: 400
      tol: 0.000001
      error_metric: "h1_psi_relative"
      stepsize: 8
      stepsize_lower_bound: 0.01
      

solvers:
  back-and-forth:
    solver: uot.solvers.back_and_forth.BackNForthSqEuclideanSolver
    jit: true
    param-grid: bfm
    use-cost-matrix: False

experiment:
  name: Back-and-Forth Test
  function: uot.experiments.measurement.measure_with_gpu_tracker
