generators:
  _gauss_default: &gauss_default
    generator: uot.problems.generators.GaussianMixtureGenerator
    dim: 3
    num_datasets: 31
    borders: [-1, 1]
    num_components: 1
    cost_fn: uot.utils.costs.cost_euclid_squared
    use_jax: false
    measure_mode: grid
    seed: 55

{% set points_set = [16, 24, 32] %}
{% for points in points_set %}
  3D-gaussian-1c-{{points}}p:
    <<: *gauss_default
    n_points: {{points}}
{% endfor %}
