generators:
  _exponential_defaults: &exponential_defaults
    generator: uot.problems.generators.IndependentExponentialGenerator
    dim:       2
    num_datasets: 31
    borders:   [-1, 1]
    cost_fn:   uot.utils.costs.cost_euclid_squared
    measure_mode: grid
    seed:      55

{% set points_set = [32, 64, 128, 160, 192] %}
{% for p in points_set %}
  2D-exponential-{{p}}p:
    <<: *exponential_defaults
    n_points: {{p}}
{% endfor %}
